extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header
        | Consultar de Usuarios
  .row
    .col-lg-6
      .panel.panel-green
        .panel-heading
          h3.panel-title Datos del Usuario a Consultar:
        .panel-body
          form(role='form')
            .col-lg-12
              .form-group
                label Identificacion:
                input.form-control(placeholder='(Solo numeros)',required='',onkeypress='return justNumbers(event);')
            .col-lg-6
              button.btn.btn-success(type='submit') Confirmar y Consultar
            .col-lg-6
              button.btn.btn-warning(type='reset')
                i.fa.fa-edit
                |   Limpiar Todo
  .row
    .panel.panel-green
      .panel-heading
        h3.panel-title Usuario Consultado:
      .panel-body
        .col-lg-6
          fieldset(disabled='')
          .form-group
            label(for='disabledSelect') Identificacion:
            input#disabledInput.form-control(type='text', disabled='',value='#{Identificacion_Usuario}')
          .form-group
            label(for='disabledSelect') Nombres:
            input#disabledInput.form-control(type='text', disabled='',value='#{Nombres_Usuario}')
          .form-group
            label(for='disabledSelect') Apellidos:
            input#disabledInput.form-control(type='text', disabled='',value='#{Apellidos_Usuario}')
        .col-lg-6
          .form-group
            label(for='disabledSelect') Usuario:
            .form-group.input-group
              span.input-group-addon @
              input#disabledInput.form-control(type='text', disabled='',value='#{Usuario_Usuario}')
          .form-group
            label(for='disabledSelect') Rol de Usuario
            input#disabledInput.form-control(type='text', disabled='',value='#{Rol_Usuario}')
