extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header(align='center')
        | Consultar Modulos
    if info_error != undefined && info_error.length
      .col-lg-12
        .alert.alert-warning
          strong Alert!
          |  #{info_error}
    if info_success != undefined && info_success.length
      .col-lg-12
        .alert.alert-success
          strong Alert!
          |  #{info_success}
  .row
    .col-lg-6
      .panel.panel-green
        .panel-heading
          h3.panel-title Datos del Modulo a Consultar:
        .panel-body
          form(role='form',action='Consultar_Modulo', method='post')
            .col-lg-12
              .form-group
                label Codigo_Nomenclatura_Modulo:
                input.form-control(name = 'Codigo_Nomenclatura_Modulo',placeholder='Ej: (ESP8266_2331233)',required='')
            .col-lg-6
              button.btn.btn-success(type='submit') Confirmar y Consultar
            .col-lg-6
              button.btn.btn-warning(type='reset')
                i.fa.fa-edit
                |   Limpiar Todo
  .row
    .col-lg-12
      .panel.panel-green
        .panel-heading
          h3.panel-title Modulo Consultado:
        .panel-body
          fieldset(disabled='')
            .col-lg-6
              .form-group
                label(for='disabledSelect') Codigo_Nomenclatura:
                input#disabledInput.form-control( disabled='',value=Codigo_Nomenclatura_Modulo)
              .form-group
                label(for='disabledSelect') Registrado por el Usuario ID:
                input#disabledInput.form-control( disabled='',value=Persona_identificacion_Persona)
              .form-group
                label(for='disabledSelect') Nombre del Modulo:
                input#disabledInput.form-control( disabled='',value=nombre_Modulo)
              .form-group
                label(for='disabledSelect') Descripcion:
                textarea.form-control(disabled='',rows='3')
                  | #{descripcion_Modulo}
            .col-lg-6
              .form-group
                label(for='disabledSelect') Estado actual del Modulo (Switch):
                .col-lg-12
                  label.switch
                    if estado_switch_Modulo==1
                      input.inputdemo(type='checkbox', disabled='', checked='')
                    else
                      input.inputdemo( disabled='',type='checkbox')
                    .slider.round
