extends layout/layout_dashboard

block content
  .row
    h1.page-header(align='center')
      strong Panel de Administracion Inmótico
    .col-lg-12
      p
        | Este es el panel principal para la administracion de los Switch del sistema Inmótico,
        | desde aquí se puede observar la lista de los modulos registrados al sistema ademas de Grupos
        | de Modulos con su respectiva informacion
    if info_error != undefined && info_error.length
      .col-lg-12
        .alert.alert-warning
          strong Alert!
          |  #{info_error}
    if info_success != undefined && info_success.length
      .col-lg-12
        .alert.alert-success
          strong Alert!
          |  #{info_success}
  .row
    if (Lista_Modulos != undefined || Lista_Modulos != null)
      .col-lg-6
        .panel.panel-green
          .panel-heading
            h3.panel-title(align='center')
              strong  Lista de Modulos
          .panel-body
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th Codigo_Nomenclatura
                    th Nombre
                    th Estado (SW)
                tbody#tbody_DasgBoard

      if (Lista_Grupo_Modulos != undefined || Lista_Grupo_Modulos != null)
        .col-lg-6
          .panel.panel-green
            .panel-heading
              h3.panel-title(align='center')
                strong  Lista de Grupos
            .panel-body
              .table-responsive
                table.table.table-hover
                  thead
                    tr
                      th ID Grupo
                      th Nombre
                      th Descripción
                      th Estado (SW)
                  tbody
                    each item in Lista_Grupo_Modulos
                      tr
                        td= item.id_Grupo_Modulos
                        td= item.nombre_Grupo_Modulos
                        td= item.descripcion_Grupo_Modulos
                        td
                          .col-lg-12
                            label.switch
                              if item.estado_switch_Grupo_Modulos==1
                                input.inputdemo(type='checkbox', checked='')
                              else
                                input.inputdemo(type='checkbox')
                              .slider.round
      else
        p
          strong
            | No se han encontrado Grupos de Modulos registrados en el sistema, para poder administrarlos primero debe Registrar por lo menos un Grupo!
    else
      p
        strong
          | Debe Registrar Modulos al sistema para poder administrarlos!
    .col-lg-12
      h2 Bootstrap Docs
      p
        | For complete documentation, please visit
        a(target='_blank', href='http://getbootstrap.com/css/#tables') Bootstrap's Tables Documentation
        | .
