extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header(align='center')
        | Consultar Grupo de Modulos
    if info_error != undefined && info_error.length
      .col-lg-12
        .alert.alert-warning
          strong Alert!
          |  #{info_error}
    if info_success != undefined && info_success.length
      .col-lg-12
        .alert.alert-success
          strong Alert!
          |  #{info_success}
  .row
    .col-lg-6
      .panel.panel-green
        .panel-heading
          h3.panel-title Datos del Grupo de Modulos a Consultar:
        .panel-body
          form(role='form',action='Consultar_Grupo_Modulo', method='post')
            .col-lg-12
              .form-group
                label Nombre del Grupo de Modulos (Unico):
                input.form-control(placeholder='Ej: Pasillo 3',required='',name='nombre_Grupo_Modulos')
            .col-lg-6
              button.btn.btn-success(type='submit') Confirmar y Consultar
            .col-lg-6
              button.btn.btn-warning(type='reset')
                i.fa.fa-edit
                |   Limpiar Todo
  .row
    .col-lg-12
      .panel.panel-green
        .panel-heading
          h3.panel-title Datos: Grupo de Modulos Consultado:
        .panel-body
          fieldset(disabled='')
            .col-lg-6
              .form-group
                label(for='disabledSelect') Nombre del Grupo de Modulos:
                input#disabledInput.form-control( disabled='',value='#{nombre_Grupo_Modulos}')
              .form-group
                label(for='disabledSelect') Descripcion del Grupo de Modulos:
                input#disabledInput.form-control( disabled='',value='#{descripcion_Grupo_Modulos}')
            .col-lg-6
              .form-group
                label(for='disabledSelect') Estado actual del Modulo (Switch):
                .col-lg-12
                  label.switch
                    if estado_switch_Grupo_Modulos==1
                      input.inputdemo(type='checkbox', disabled='', checked='')
                    else
                      input.inputdemo( disabled='',type='checkbox')
                    .slider.round
              .form-group
                label(for='disabledSelect') Codigo del Registrador (Usuario):
                input#disabledInput.form-control( disabled='',value='#{Persona_identificacion_Persona}')
