extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header(align='center')
        | Modificar Grupo de Modulos
    if info_error != undefined && info_error.length
      .col-lg-12
        .alert.alert-warning
          strong Alert!
          |  #{info_error}
    if info_success != undefined && info_success.length
      .col-lg-12
        .alert.alert-success
          strong Alert!
          |  #{info_success}
  .row
    .col-lg-6
      .panel.panel-green
        .panel-heading
          h3.panel-title Consultar datos del Grupo de Modulos a Modificar:
        .panel-body
          form(role='form',action='Modificar_Grupo_Modulo', method='post')
            .col-lg-12
              .form-group
                label Nombre del Grupo de Modulos (Unico):
                input.form-control(placeholder='Ej: Pasillo 3',required='',name='nombre_Grupo_Modulos')
            .col-lg-6
              button.btn.btn-success(type='submit') Confirmar y Consultar
            .col-lg-6
              button.btn.btn-warning(type='reset')
                i.fa.fa-edit
                |   Limpiar Todo
  .row
    .col-lg-12
      .panel.panel-green
        .panel-heading
          h3.panel-title Datos: Grupo de Modulos Consultado
        .panel-body
          form(role='form', action='PUT_Modificar_Grupo_Modulo', method='post')
            .col-lg-6
              .form-group
                label Nombre del Grupo de Modulos:
                input.form-control(name='nombre_Grupo_Modulos',value=nombre_Grupo_Modulos}',required='')
              .form-group
                label descripcion_Grupo_Modulos:
                textarea.form-control(name='descripcion_Grupo_Modulos', rows='3',required='')
                  | #{descripcion_Grupo_Modulos}
              .form-group
                label(for='disabledSelect') Codigo del Grupo de Modulos:
                input#disabledInput.form-control(disabled='',value=id_Grupo_Modulos)
                input.form-control(type='hidden', name='id_Grupo_Modulos',value=id_Grupo_Modulos)
              .form-group
                label(for='disabledSelect') Registrado por el Usuario ID:
                input#disabledInput.form-control(disabled='',value=Persona_identificacion_Persona)
            .col-lg-6
              .form-group
                label Estado actual del Modulo (Switch):
                .col-lg-12
                  label.switch
                    if estado_switch_Grupo_Modulos==1
                      input.inputdemo(disabled='',name='estado_switch_Grupo_Modulos',type='checkbox',  checked='')
                    else
                      input.inputdemo(disabled='',name='estado_switch_Grupo_Modulos',type='checkbox')
                    .slider.round
              .col-lg-6
                button.btn.btn-success(type='submit')
                  |  Confirmar y Enviar
              .col-lg-6
                button.btn.btn-warning(type='reset')
                  i.fa.fa-edit
                  |   Restaurar Todo
