extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header
        | Modificar Modulos
    if info_error != undefined && info_error.length
      .col-lg-12
        .alert.alert-warning
          strong Alert!
          |  #{info_error}
    if info_success != undefined && info_success.length
      .col-lg-12
        .alert.alert-success
          strong Alert!
          |  #{info_success}
  .row
    .col-lg-6
      .panel.panel-green
        .panel-heading
          h3.panel-title Consultar datos del Modulo a Modificar:
        .panel-body
          form(role='form', action='Modificar_Modulo', method='post')
            .col-lg-12
              .form-group
                label Codigo Nomenclatura Modulo:
                input.form-control(placeholder='Ej: (ESP8266_2331233)',required='',name='Codigo_Nomenclatura_Modulo')
            .col-lg-6
              button.btn.btn-success(type='submit') Confirmar y Consultar Datos
            .col-lg-6
              button.btn.btn-warning(type='reset')
                i.fa.fa-edit
                |   Limpiar Todo
  .row
    .col-lg-12
      .panel.panel-green
        .panel-heading
          h3.panel-title Modificar Modulo:
        .panel-body
          form(role='form', action='PUT_Modificar_Modulo', method='post')
            .col-lg-6
              .form-group
                label(for='disabledSelect') Codigo_Nomenclatura:
                input#disabledInput.form-control(disabled='', value='#{Codigo_Nomenclatura_Modulo}')
                input.form-control(type='hidden', name='Codigo_Nomenclatura_Modulo',value='#{Codigo_Nomenclatura_Modulo}')
              .form-group
                label(for='disabledSelect') Registrado por el Usuario ID:
                input.form-control(disabled='',value='#{Persona_identificacion_Persona}')
              .form-group
                label Nombre del Modulo:
                input.form-control(name='nombre_Modulo',value='#{nombre_Modulo}',required='')
              .form-group
                label Descripcion:
                textarea.form-control(name='descripcion_Modulo', rows='3',required='')
                  | #{descripcion_Modulo}
            .col-lg-6
              .form-group
                label Estado actual del Modulo (Switch):
                .col-lg-12
                  label.switch
                    if estado_switch_Modulo==1
                      input.inputdemo(disabled='',name='estado_switch_Modulo',type='checkbox',  checked='')
                    else
                      input.inputdemo(disabled='',name='estado_switch_Modulo',type='checkbox')
                    .slider.round
              .col-lg-6
                button.btn.btn-success(type='submit')
                  |  Confirmar y Enviar
                button.btn.btn-warning(type='reset')
                  i.fa.fa-edit
                  |   Restaurar Todo
