extends ../layout/layout_dashboard

block content
  .row
    .col-lg-12
      h1.page-header
        | Consultar Usuario
    if info_error != undefined && info_error.length
      .col-lg-12
        .alert.alert-warning
          strong Alert!
          |  #{info_error}
    if info_success != undefined && info_success.length
      .col-lg-12
        .alert.alert-success
          strong Alert!
          |  #{info_success}
  .row
    .col-lg-6
      .panel.panel-green
        .panel-heading
          h3.panel-title Datos del Usuario a Consultar:
        .panel-body
          form(role='form',action='Consultar_Usuario', method='post')
            .col-lg-12
              .form-group
                label Identificacion:
                input.form-control(name = 'Identificacion',placeholder='(Solo numeros)',required='',onkeypress='return justNumbers(event);')
            .col-lg-6
              button.btn.btn-success(type='submit') Confirmar y Consultar
            .col-lg-6
              button.btn.btn-warning(type='reset')
                i.fa.fa-edit
                |   Limpiar Todo
  .row
    .col-lg-12
      .panel.panel-green
        .panel-heading
          h3.panel-title Usuario Consultado:
        .panel-body
          fieldset(disabled='')
            .col-lg-6
              .form-group
                label(for='disabledSelect') Identificacion:
                input#disabledInput.form-control(type='text', disabled='',value='#{identificacion_Persona}')
              .form-group
                label(for='disabledSelect') Nombres:
                input#disabledInput.form-control(type='text', disabled='',value='#{nombres_Persona}')
              .form-group
                label(for='disabledSelect') Apellidos:
                input#disabledInput.form-control(type='text', disabled='',value='#{apellidos_Persona}')
            .col-lg-6
              .form-group
                label(for='disabledSelect') Usuario:
                .form-group.input-group
                  span.input-group-addon @
                  input#disabledInput.form-control(type='text', disabled='',value='#{usuario_Persona}')
              .form-group
                label(for='disabledSelect') Rol de Usuario
                input#disabledInput.form-control(type='text', disabled='',value='#{Rol_Persona_id_Rol_Persona}')
